@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-4">
    <h1 class="display-4">Sistema de Ventas</h1>
    <p class="lead">Bienvenido al sistema de gestión de ventas</p>
</div>

<hr />

<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Ventas</h5>
                <p class="card-text">Gestionar ventas del sistema</p>
                <a asp-controller="Venta" asp-action="Index" class="btn btn-dark">Ir a Ventas</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <p class="card-text">Gestionar productos del sistema</p>
                <a asp-controller="Producto" asp-action="Index" class="btn btn-dark">Ir a Productos</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Inventario</h5>
                <p class="card-text">Gestionar inventario del sistema</p>
                <a asp-controller="Inventario" asp-action="Index" class="btn btn-dark">Ir a Inventario</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Categorías</h5>
                <p class="card-text">Gestionar categorías del sistema</p>
                <a asp-controller="Categoria" asp-action="Index" class="btn btn-dark">Ir a Categorías</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Gestionar usuarios del sistema</p>
                <a asp-controller="Usuario" asp-action="Index" class="btn btn-dark">Ir a Usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Roles</h5>
                <p class="card-text">Gestionar roles del sistema</p>
                <a asp-controller="Rol" asp-action="Index" class="btn btn-dark">Ir a Roles</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5 class="card-title">Puntos</h5>
                <p class="card-text">Gestionar puntos del sistema</p>
                <a asp-controller="Puntos" asp-action="Index" class="btn btn-dark">Ir a Puntos</a>
            </div>
        </div>
    </div>
</div>
