@model SistemadeVentas.EN.Producto
@{
    ViewData["Title"] = "Crear Producto";
}

<h2>Crear Producto</h2>
<form asp-action="Crear" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">ID Categoría</label>
        <input asp-for="IdCategoria" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input asp-for="Descripcion" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input asp-for="Precio" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Estado</label>
        <select asp-for="Estado" class="form-control">
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">URL de imagen</label>
        <input asp-for="ImagenUrl" class="form-control" placeholder="https://ejemplo.com/imagen.jpg" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>