@model List<SistemadeVentas.EN.Rol>
@{
    ViewData["Title"] = "Roles";
}

<h2>Gestión de Roles</h2>
<a asp-action="Crear" class="btn btn-primary mb-3">+ Nuevo Rol</a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdRol</td>
                <td>@item.Nombre</td>
                <td>
                    <a asp-action="Modificar" asp-route-id="@item.IdRol" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.IdRol" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>