@model IEnumerable<SistemadeVentas.EN.Rol>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>
<hr />

<a asp-action="Crear" class="btn btn-dark mb-3">Agregar Rol</a>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rol in Model)
        {
            <tr>
                <td>@rol.IdRol</td>
                <td>@rol.Nombre</td>
                <td>
                    <a asp-action="Modificar" asp-route-id="@rol.IdRol" class="btn btn-warning btn-sm">Modificar</a>
                    <a asp-action="Eliminar" asp-route-id="@rol.IdRol" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>